{% extends 'base.html' %}
{% load static %}


{% block title %}Login - Dressify{% endblock %}

{% block content %}
<section id="login">
    <h2>Login</h2>
    <form method="POST" id="loginForm">
        {% csrf_token %}
        <label for="loginEmail">Email</label>
        <input type="email" id="loginEmail" name="loginEmail" placeholder="Enter your email" required>

        <label for="loginPassword">Password</label>
        <input type="password" id="loginPassword" name="loginPassword" placeholder="Enter your password" required>

        <button type="submit">Login</button>

        <div class="social-login">
            <p>Or log in with:</p>
            <button type="button" class="social-btn">Google</button>
            <button type="button" class="social-btn">Facebook</button>
        </div>
    </form>
</section>
{% endblock %}